@import '../../../../twitter/bootstrap/less/bootstrap.less';
@import 'config.less';

/** Bootstrap **/

body { padding: 60px 0 40px; }
.nav-collapse { height: auto !important; }



/** Lists **/

.page-header {
    position: relative;

    .btn {
        position: absolute;
        right: 0;
        top: 10px;
    }
}

.nav-tabs.nav-stacked {
    margin-bottom: 50px;

    & > li {
        display: block;
        height: 26px;
        line-height: 26px;
        padding: 8px;
        border: 1px solid #DDDDDD;
        white-space: nowrap;
        overflow: hidden;
    }

    .btn-group { float: right; }
}



/** Forms **/

form { text-align: right; }
label { font-weight: normal; }
.label-like { margin-bottom: 5px; }

label, .label-like {
    line-height: 31px;
    span { vertical-align: middle; }
}

[type=text], [type=email], [type=password], select, textarea {
    width: 500px;
    margin-left: 10px !important;
}

select { padding: 4px 4px 4px 3px; }
textarea { height: 200px; }
[type=checkbox], [type=radio] { margin-top: 0; }

[type=file] {
    display: block;
    margin-bottom: 10px;

    & + .btn {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.holder {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 500px;
    margin: 0 0 10px 10px;
    text-align: left;
    list-style-type: none;
    label { display: inline; }
    [type=text], [type=email], [type=password], select, textarea { margin-left: 0 !important; }
    .nicEdit-main { line-height: 20px; }
}
