@import 'config.less';
@import '../../../../twitter/bootstrap/less/mixins.less';
@import '../../../../twitter/bootstrap/less/utilities.less';

/** Reset **/

* {
    .box-sizing(border-box);
    margin: 0;
    padding: 0;
    outline: none;
}

html { height: 100%; }
html, body { width: 100%; }

body {
    min-width: 320px;
    min-height: 100%;
    background: white none;
    .sans;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    color: #333333;
}

hr {
    .cb;
    .invisible;
    height: 0;
    border: none;
}

input, button, select, textarea {
    .placeholder(color, #999999);
    .placeholder(opacity, 1);
    font-family: inherit;
    font-size: inherit;
}

[type=checkbox] { vertical-align: -2px; }
[type=radio] { vertical-align: -3px; }
button, a { cursor: pointer; }
a { text-decoration: none; }

textarea {
    resize: none;
    overflow: auto;
}

textarea, sup, sub { vertical-align: baseline; }
sup { bottom: 1ex; }
sub { top: .5ex; }

sup, sub {
    .pr;
    height: 0;
    line-height: 1;
}

video {
    max-width: 100%;
    height: auto;
}

video, table { width: 100%; }
table { border-collapse: collapse; }
img { border: none; }
ul { list-style-type: none; }
ul, ol { list-style-position: inside; }
label { .show; }
canvas { -ms-touch-action: double-tap-zoom; }



/** HTML5 pseudos **/

::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-message {
    background: #D4D0C8 none;
    border: 1px solid #808080;
    -webkit-box-shadow: none;
    box-shadow: none;
}

::-webkit-validation-bubble-arrow {
    border-bottom: none;
    border-right: none;
}

::-webkit-validation-bubble-message {
    .sans;
    font-size: 1.1em;
    white-space: nowrap;
}

::-webkit-validation-bubble-icon { .hide; }
::-webkit-input-placeholder { .placeholder; }
:-ms-input-placeholder { .placeholder; }
::-moz-placeholder { .placeholder; }
:-moz-ui-invalid { box-shadow: none; }

::-moz-focus-inner {
    margin: 0;
    padding: 0;
    border: none;
}

@-ms-viewport { width: device-width; }



/** Mixins **/

.font-face(@name, @file) {
    font-family: @name;
    src: url('../font/@{file}.eot?') format('embedded-opentype'),
         url('../font/@{file}.woff') format('woff'),
         url('../font/@{file}.otf') format('opentype'),
         url('../font/fonts.svg#@{file}') format('svg');
}

/*.placeholder(@property, @value) {
    -less-property: ~`(
        function() {
            var selectors = [
                '.placeholder',
                '::-webkit-input-placeholder',
                '::-moz-placeholder',
                ':-ms-input-placeholder'
            ], ruleset = ' property;';

            for (i in selectors) {
                ruleset += '\n    &' + selectors[i] + ' { @{property} ' + ': @{value}' + '; }';
            }

            return ruleset;
        }
    )()`;
}*/

.placeholder {
    color: #999999;
    opacity: 1;
}

.opacity(@opacity: 1) {
    @ms: @opacity * 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ms})";
    opacity: @opacity;
}

.radius(@radius: 5px) { border-radius: @radius; }

.box-shadow(@value: none) {
    -webkit-box-shadow: @value;
    box-shadow: @value;
}

.transition(@property: all, @duration: .5s, @easing: linear) {
    -webkit-transition: @property @duration @easing;
    -moz-transition: @property @duration @easing;
    -o-transition: @property @duration @easing;
    -ms-transition: @property @duration @easing;
    transition: @property @duration @easing;
}

.sprite-hover(@xpos: 0) {
    background-position: @xpos top;
    &:hover { background-position: @xpos bottom; }
}



/** Classes **/

.font-reset {
    font-weight: normal;
    font-style: normal;
}

.cb { clear: both; }
.pr { position: relative; }
.inline-top, .inline-middle, .notice { display: inline-block; }
.inline-top { vertical-align: top; }
.inline-middle { vertical-align: middle; }
.bullets { list-style-type: square; }
.auto { margin: 0 auto; }
.sans { font-family: Helvetica, Arial, sans-serif; }
.serif { font-family: Georgia, Times New Roman, serif; }
.center { text-align: center; }
.upper { text-transform: uppercase; }
.under:hover { text-decoration: underline; }
.gt:before { content: '> '; }
.required:after { content: ' *'; }

.container {
    .show;
    .auto;
    width: 100%;
    max-width: 980px;
}

.notice {
    padding: 10px 10px 10px 32px;
    background: #FFEBEB url('@{asset_path}/img/cross.gif') no-repeat 9px center;
    border: 1px solid #F5C1C2;
    border-radius: 5px;
    text-align: left;
    color: #9E0B0F;
}

.notice.confirm {
    background-image: url('@{asset_path}/img/check.gif');
    background-color: #E5F7E3;
    border-color: #C5E1C8;
    color: #005E20;
}