@import '../../../../../../node_modules/bootstrap/less/variables';



@max-width: 980px;
@min-width: 320px;
@background: white;
@font-family: ~'Verdana, sans-serif';
@font-size: 1.2rem;
@font-color: @gray-dark;
@placeholder-color: @gray-light;
